.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}
.raleway > {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
button {
  cursor: pointer;
}

.main-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo_studio {
  color: #2e2f42;
}
img {
  display: block;
}

.item_one {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item_one::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item_one:hover {
  color: #404bbf;
}
.item_one:focus {
  color: #404bbf;
}
.item_one:first-child {
  padding: 24px 0;
}

.header-right {
  font-style: normal;
}
.item_right {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item_right:hover {
  color: #404bbf;
}

.item_right:focus {
  color: #404bbf;
}

.section-one {
  display: flex;
  margin: 0 auto;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpeg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-one .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}
.section-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-button:hover {
  background-color: #404bbf;
}
.section-button:focus {
  background-color: #404bbf;
}
.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-two {
  padding: 120px 0;
}

.section-two-list {
  display: flex;
  gap: 24px;
}

.list-item > .list-title {
  margin-bottom: 8px;
}
.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.three-title-main {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.three-list {
  display: flex;
  gap: 24px;
}
.three-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.three-list > .three-item:first-child {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.first-item-text-container {
  padding: 32px 0;
}
.three-title {
  text-align: center;
  margin-bottom: 8px;
}
.three-text {
  text-align: center;
  margin-bottom: 8px;
}

.three-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.three-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-four-main {
  padding: 120px 0;
}
.section-four-main ul li {
  width: 30%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  height: auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.four-main-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.four-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  column-gap: 24px;
  row-gap: 48px;
  text-align: start;
}

.list-item {
  width: calc((100% - 72px) / 4);
}

.four-list > .list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.four-list > .list-item:hover .list_text {
  transform: translateY(0%);
}

.four-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.four-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.list-item-text-container div:nth-child(2) {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.studio-footer {
  color: #2e2f42;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-bottom: 16px;
}
.header-main {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main-container {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer-container {
  margin-right: 120px;
  display: flex;
  align-items: baseline;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-right-list {
  display: flex;
  gap: 40px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.social_media {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-left: unset;
}
.media {
  width: 40px;
  height: 40px;
}
.media-link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-link:hover {
  background-color: #404bbf;
}

.media-link:focus {
  background-color: #404bbf;
}
.list-image-container {
  position: relative;
  overflow: hidden;
}
.list_text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
  gap: 16px;
}
.footer-list-item {
  width: 40px;
  height: 40px;
}
.footer-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-link:hover {
  background-color: #31d0aa;
}
.footer-list-link:focus {
  background-color: #31d0aa;
}
.core-li-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.icons-svg {
  fill: #f4f4fd;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
